.conver-charts {
  position: relative;
  left: -221px;
}

.quadrado {
  background: #ff00ae;
  width: 603px;
  height: 252px;
  border-radius: 15px;
}

.quadrado2 {
  background: #ff00ae;
  width: 281px;
  height: 519px;
  border-radius: 15px;
}

.quadrado3 {
  background: #ff00ae;
  width: 296px;
  height: 261px;
  border-radius: 15px;
}

.quadrado4 {
  background: #ff00ae;
  width: 296px;
  height: 261px;
  border-radius: 15px;
}

.quadrado5 {
  background: #ff00ae;
  width: 645px;
  height: 258px;
  border-radius: 15px;
}

.quadrado6 {
  background: #ff00ae;
  width: 235px;
  height: 261px;
  border-radius: 15px;
}

.facebook-chart {
  display: flex;
  gap: 61px;
  /* position: relative; */
  flex-direction: column;
  position: relative;
  top: -13px;
}

.google-chart {
  display: flex;
  gap: 61px;
  /* position: relative; */
  flex-direction: column;
  position: relative;
  top: -13px;
}

.overview-charts {
  display: flex;
  gap: 61px;
  /* position: relative; */
  flex-direction: column;
  position: relative;
  // top: -13px;
}


.first-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 279px;
}

.second-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 119px;
}

.overview-first-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

}

.overview-second-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 14px;

}

.overview-conver-charts{
  position: relative;
  // top: 98px;
}

.botton-overview{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: 145px;
  bottom: 186px;

}

.second-botton-overview{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 190px;
  right: 1px;
}


.overview-chart_1{
  background: #cdcdcd;
  width: 603px;
  height: 252px;
  border-radius: 15px;

}

.lateral-chart{
  position: relative;
  bottom: -37px;
}

.overview-chart_2{
  background: #cdcdcd;
  width: 281px;
  height: 519px;
  border-radius: 15px;
}
.overview-chart_3{
  background: #cdcdcd;
  width: 296px;
  height: 261px;
  border-radius: 15px;
}
.overview-chart_4{
  background: #cdcdcd;
  width: 296px;
  height: 261px;
  border-radius: 15px;
}
.overview-chart_5{
  background: #cdcdcd;
  width: 645px;
  height: 258px;
  border-radius: 15px;
}
.overview-chart_6{
  background: #cdcdcd;
  width: 235px;
  height: 261px;
  border-radius: 15px;
}
