// Specific CSS for your home-page
body {
  background-color: #3A506B;
}

.quadrado {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}

.quadrado2 {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}

.quadrado3 {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}

.quadrado4 {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}

.quadrado5 {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}

.quadrado6 {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}
