.quadrado {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}

.quadrado2 {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}

.quadrado3 {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}

.quadrado4 {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}

.quadrado5 {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}

.quadrado6 {
  background: rgb(255, 0, 174);
  width: 100px;
  height: 100px;
}

.facebook-chart {
  display: flex;
  gap: 110px;
  /* position: relative; */
  flex-direction: column;
}

.first-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 279px;
}

.second-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 119px;
}
