<div class="home-banner-container">
  <div class="home-banner-bg"></div>
  <div class="home-banner-content">
    <!-- Your existing content here -->
      <h3>Welcome to LaunchAlytics</h3>
        <h2>Analyse your campaign data in real-time</h2>
        <p>Transform how you run and manage your info product launch campaign</p>
      <div class="home-btn">
        <%= link_to "start now", facebook_path, class: "btn btn-primary" %>
      </div>
  </div>
</div>
