<div class="page-container">
  <div class="container-overview">
    <div class="overview">
      <div class="overview-charts">
        <div class="overview-first-box">
          <div class="overview-ctr-charts">
            <div class="overview-chart_1"></div>
          </div>
          <div class="overview-conver-charts">
            <div class="lateral-chart">
              <div class="overview-chart_2"></div>
            </div>
          </div>
        </div>
        <div class="overview-second-box">
          <div class="botton-overview">
            <div class="overview-chart_3"></div>
            <div class="overview-chart_4"></div>
          </div>
          <div class="second-botton-overview">
            <div class="overview-chart_5"></div>
            <div class="overview-chart_6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
