.fa-facebook {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 120px;
  font-size: 30px;
  position: relative;
  left: -22px;
}

.fa-facebook:hover {
  background-color: #0073a4;
}

.fa-google {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 120px;
  font-size: 30px;
  position: relative;
  left: -22px;
}

.fa-google:hover {
  background-color: #0073a4;
}

.fa-free-code-camp {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 120px;
  font-size: 30px;
  position: relative;
  left: -22px;
}

.fa-free-code-camp:hover {
  background-color: #0073a4;
}

.fa-area-chart {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 120px;
  font-size: 30px;
  position: relative;
  left: -22px;
}

.fa-area-chart:hover {
  background-color: #0073a4;
}

.fa-home {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  border-radius: 120px;
  font-size: 30px;
  position: relative;
  left: -22px;
}

.fa-home:hover {
  background-color: #0073a4;
}
